.root {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 150px;
    }

    span {
        margin-top: 50px;
        font-size: 35px;
    }

    p:first-of-type {
        margin-top: 20px;
    }

    p {
        color: #808080;
    }
}